
/* body {
  background-color: #cbecc3;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .oho{
    /* background-color:#94c58a ; */
    width: 500px;
    height: 600px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 70px; */
    /* text-align: center; */
    border-radius: 50px;
    border: solid;
  }
  /* .bg-body-tertiary{
    background-color: #94c58a !important;
    height: 100px;
  }
input{
display: block;
margin-top: 70px;
margin-left: auto;
margin-right: auto;
padding: 10px;
border-radius: 50px;
width:350px;
border: solid;
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.oho {
  background-color: #94c58a;
  width: 500px;
  height: 600px;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 70px; */
  /* text-align: center; */
  border-radius: 50px;
  /* border: solid; */
}

/* .bg-body-tertiary {
  background-color: #94c58a !important;
  height: 100px;
}

input {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 50px;
  width: 350px;
  border: solid;
}

#signin__button {
  width: 120px;
  background-color: rgb(236, 127, 154);

}
#sub:hover{
  transform: scale(1.1);
  transition-duration: 500ms;
}

.oho img{
 position: absolute;
 right: 59%;
 top:69%;
}

.oho img:hover{
  transform: rotate(360deg);
  transition-duration: 500ms;
  
} */
.oho img {
  position: absolute;
  right: 59%;
  top: 69%;
<<<<<<< Updated upstream
}
=======
} */

boho{
  background-color: #d49a9a;
}
>>>>>>> Stashed changes
